<!-- navigation.hbs -->
<h3>navigation.hbs</h3>
{{#foreach navigation}}
  <ul>
    <li><b>slug</b>: {{slug}}</li>
    <li><b>url</b>: {{url absolute="true"}}</li>
    <li><b>label</b>: {{label}}</li>
    <li><b>current</b>: {{current}}</li>
  </ul>
{{/foreach}}
