{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<h1>index.hbs</h1>h1>

{{!-- The big featured header --}}
blog: {{@blog}}

blog.cover: {{#if @blog.cover}}
blog.title: {{#if @blog.title}}
blog.logo: {{#if @blog.logo}}
blog.navigation {{#if @blog.navigation}}

{{!-- The main content area on the homepage --}}

{{> "loop"}}
